@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome v2.0</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">
        building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <tr>
        <th>App Setting</th>
        <th>App Setting Value</th>
    </tr>
    <tr>
        <td>Connection String</td>
        <td>@Model.ConnectionString</td>
    </tr>
    <tr>
        <td>Test Token</td>
        <td>@Model.TestToken</td>
    </tr>
</table>